@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');

/* class = '.' and id = '#' for reference */
/* general selector for tags = <-This inside part-> */
/* background-color sets background color */
/* SYNTAX = ':' symbol after attribute and ';' this symbol after value of that attribute */

* {
    margin: 0;
    font-family: "Lexend", sans-serif;
}

body {
    background-color: #0f0f0f;
}

.navbar {
    height: 60px;
    background-color: #0f0f0f;
    color: #f3f3f3;
    display: flex;
    align-items: center;
    padding-left: 10px;
    padding: 10px;
    border-bottom: 2px solid #282828;
    
}

.navbar-buttons {
    display: flex;
    align-items: end;
}

.stylesforicon {
    margin: 15px;
    font-size: x-large;
}


/* Buttons in Navbar */

.btn {
    margin-left: 65px;
    color: #f3f3f3;
    text-decoration: none;
}


#home-btn {
    margin-left: 500px;
}

#home-btn:hover {
    color: #2d4eb9;
}


#about-btn:hover {
    color: #2d4eb9;
}

#web3-btn:hover {
    color: #2d4eb9;
}

.title {
    font-size: x-large;
    background-image: linear-gradient(to right, #26adab 0%, #42a4ce 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline;
}

/* HERO STYLES */

.hero {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.heroleftside {
    padding: 30px;
    width: 450px;
    height: 7;
    background-color: #0f0f0f;
    margin: 50px;
    color: #f3f3f3;
    text-align: center;
    border: 3px solid #282828;
    border-radius: 20px;
}

.herorightside {
    padding: 30px;
    width: 450px;
    height: 7;
    background-color: #0f0f0f;
    margin: 50px;
    color: #f3f3f3;
    text-align: center;
    border: 3px solid #282828;
    border-radius: 20px;
}

.about-container {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.web3-container {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.hero-forweb3page {
    padding: 30px;
    width: 700px;
    height: 1000px;
    background-color: #0f0f0f;
    margin: 50px;
    color: #f3f3f3;
    text-align: center;
    border: 3px solid #282828;
    border-radius: 20px;
}

.hero-foraboutpage1 {
    padding: 30px;
    width: 450px;
    height: 600px;
    background-color: #0f0f0f;
    margin: 50px;
    color: #f3f3f3;
    text-align: center;
    border: 3px solid #282828;
    border-radius: 20px;
}

.hero-foraboutpage2 {
    padding: 30px;
    width: 450px;
    height: 600px;
    background-color: #0f0f0f;
    margin: 50px;
    color: #f3f3f3;
    text-align: center;
    border: 3px solid #282828;
    border-radius: 20px;
}

.herotitle {
    display: flex;
    justify-content: center;
    margin: 15px;
    font-size: x-large;
    background-image: linear-gradient(to right, #26adab 0%, #42a4ce 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.stylesforicon {
    background-image: linear-gradient(to bottom, #e72c83 0%, #a742c6 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline;
    margin-left: 15px;
}

#home-btn {
    
}


ol {
    text-align: center;
}

#link1 {
    text-decoration: none;
    color: #a2d614;
}

/* HOMEPAGE IMAGE STYLES */

.HomepageImage {
    max-width: 400px;
    border-radius: 20px;
    border: 5px solid transparent;

    background:
        linear-gradient(white, white) padding-box,
        linear-gradient(
            to right,
            #1e3a8a,
            #2563eb,
            #10b981,
            #065f46
        ) border-box;
}